/*A² Fab Lab Main Custom Styles -- Built on top of skeleton.css (http://getskeleton.com/)*/

body{
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1,h2,h3,h4,h5{
	font-family: "Quicksand", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  color: #BABD61;
	text-decoration: none;
}
a:hover {
  color: #E7EB79; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary{
  color: #FFF;
  background-color: #CCD22A;
  border-color: #CCD22A;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus{
  color: #FFF;
  background-color: #E7EB79;
  border-color: #E7EB79;
}

.button.button-primary:disabled,
button.button-primary:disabled,
input[type="submit"].button-primary:disabled,
input[type="reset"].button-primary:disabled,
input[type="button"].button-primary:disabled{
  color: #ccc;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.button-disabled {
  color:#FFF;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.button-disabled:hover {
  color:#FFF;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.button-disabled:focus {
  color:#FFF;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #231f20;
  z-index: 1;
}

.navbar-item{
  display: block;
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  border-bottom: 1px solid #4a4244;
  float: right;
  background: #231f20;
}

.navbar-list{
  display: none;
}

.mobile-navbar-list{
  position: fixed;
  top: -50%;
  left: 0px;
  width: 100%;
  transition: top .5s;
  z-index: -1;
}

.mobile-navbar-list.down {
  position: fixed;
  top: 4.36em;
  left: 0px;
  width: 100%;
  transition: top .5s;
  z-index: -1;
}

.navbar-link{
	position: relative;
	width:  80%;
	max-width: 960px;
	margin: auto 0;
  text-decoration: none;
  line-height: 6.5rem;
  color: #FFF;
	box-sizing: border-box;
}

.navbar-link:hover{
  color: #e7eb79;
}

.navbar-toggle{
  display: inline;
  float:right;
  font-size: 2em;
  color: #FFF;
  line-height: 65px;
  cursor: pointer;
}

#modules-control a {
	margin-left: 0px;
}

@media (min-width: 960px) {

  .navbar-toggle{
    display: none;
  }

  .spacer{
    width: 100%;
    height: 7.5rem;
    display: block;
  }

  .navbar{
    width: 100%;
    height: 6.5rem;
    background: #231f20;
    z-index: 1;
  }

  .navbar-list{
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0px;
    margin-top: 0rem;
    float: right;
    transition: margin-top 0s;
  }

  .mobile-navbar-list{
    display: none;
  }

	.navbar-link{
		width: auto;
		max-width: none;
		margin-left: 55px;
	  text-decoration: none;
	  line-height: 6.5rem;
	  color: #FFF;
	}

  .navbar-item{
    width: auto;
    display: inline;
    position: relative;
    float: right;
    margin-bottom: 0px;
    border-bottom: none;
  }

	#logo-col{
	  z-index: 1;
	  background: #231f20;
		width: 22%!important;
		height: 6.5rem;
	}

	#modules-control a {
		margin-left: 1rem;
	}

	#modules-control a:first-child{
		margin-left: 0px;
	}

}

#logo-link{
line-height: 0rem;
}

#logo-col{
  z-index: 1;
  background: #231f20;
	width: 100%;
	height: 6.5rem;
}

#logo-img{
 height: 6.5rem;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.precontent-video{
position: relative;
width: 100%;
overflow: hidden;
min-height: 500px;
}

video#bgvid {
left: 50%;
transform: translateX(-50%);
position: absolute;
top: -25%;
z-index: -101;
height: 1080px;
background-position: center;
background-size: cover;
}

.precontent-slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 500px;
}

.precontent-slideshow-image {
  position: absolute;
  top: -25%;
  width: 100%;
  z-index: -101;
  height: 1080px;
  background-position: center;
  background-size: cover;
}

.precontent-slideshow-current {
  animation-duration: 0.5s;
  z-index: -100;
  animation-fill-mode: forwards;
  animation-name: slidein;
}

.precontent-slideshow-previous {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: slideout;
}

@keyframes slidein {
  from {
    right: -100%;
  }

  to {
    right: 0%;
  }
}

@keyframes slideout {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

#main {
	background-color: #FFF;
	padding-top: 8.5rem;
	z-index: 0;
	position: relative;
}

#content{
	z-index: 2;
}

#title{
	position: relative;
	z-index: 2;
}

#title-text{
	position: relative;
	z-index: 3;
}

#footer-container{
  position: relative;
  z-index: 0;
	background-color: #FFF;
	text-align: center;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	margin-top: 3.5rem;
	border-top: 1px solid #AAA;
}

.nav{
	list-style-type: none;
}

svg{
	position: absolute;
	top: 0px;
	left: 0px;
	fill: rgba(0, 0, 0, 0.0);
	z-index: 0;
}

svg g path {
	stroke: #F8FAB2;
}

.faq-answer{
  display: none;
  height: auto;
  width: 100%;
}

.faq-question{
  background-color: #CCD22A;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding-top: .5em;
  padding-bottom: .5em;
}

.faq-question p {
  margin-left: .5em;
  margin-bottom: 0px;
}

.faq-question:hover{
  background-color: #E7EB79;
}

.contact-form-field {
  display: inline;
  position: relative;
  width: 49%;
  height: auto;
}

.contact-form-field label {
  position: relative;
  display: block;
  width: 100%;
}

#contact-subject {
  width: 100%;
}

#contact-body {
  width: 100%;
  height: auto;
  resize: vertical;
}
